body {
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
.card {
  margin: 50px auto;
  padding: 10px;
  width: 60%;
}
.city {
  width: 90%;
}
.submitCity {
  width: 100%;
}

.temp {
  font-size: 50px;
}
.moreInfos {
  font-style: italic;
  margin: 0 auto;
  color: grey;
}
.nextDays {
  text-align: left;
  font-weight: bold;
}
.weekdays {
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  font-weight: bolder;
}
.col-2 {
  border: 1px solid;
  border-radius: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 35px;
}
