body {
  font-family: "Quicksand", sans-serif;
}
.weather-app-wrapper {
  background: #8ed6ff;
  margin: 50px auto;
  max-width: 600px;
  padding: 20px;
  border-radius: 5px;
  border: transparent;
}

.overview {
  margin-bottom: 20px;
  padding: 10px;
  border: transparent;
  border-radius: 10px;
  background-color: #fff8f581;
}
.d-md-block {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}
.btn {
  display: inline-block;
  color: #000;
  background-color: #fff;
  border: 1px transparent;
  border-color: #fff;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in-out;
}
button:hover {
  color: #fff;
}
h1 {
  color: #000;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0 auto;
  padding: 0;
}
li {
  list-style: none;
  font-size: 16px;
  color: rgb(135, 135, 135);
  font-weight: 100;
  line-height: 19px;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-temperature img {
  margin-right: 6px;
  height: 88px;
  width: 88px;
  position: relative;
  top: 42px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  position: relative;
  top: -36px;
  left: 111px;
}
.weather-temperature .units {
  position: relative;
  top: -67px;
  left: 108px;
  font-size: 19px;
}

.nextDays {
  display: block;
  text-align: center;
  margin-bottom: -1em;
  padding: 0;
  color: #000;
  opacity: 0.7;
}
.weekdays {
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  font-weight: bolder;
}

.weather-forecast {
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  font-weight: bold;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
  font-weight: lighter;
}

.weather-forecast-temperatures {
  font-size: 14px;
  font-weight: bolder;
}
.source {
  display: block;
  text-align: center;
  margin: -52px auto;
  padding: 0;
}

.source a {
  text-decoration: none;
}
